@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular';
    margin: 0;

}
nav {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 100px;
    /* background-color: #00000050; */
    padding-left: 120px;
    padding-right: 120px;

}

.navItem {
    /* 레이아웃에 대한 스타일 */

    /*텍스트 스타일*/
    font-size: 20px;
    font-weight: 700; /* bold = 700 */
    
    line-height:1.5; /* 150%*/
    letter-spacing: -0.2px; /* 글자 간격 */
    padding: 10px;
    
}

/* div {
    text-transform: uppercase;
} */

.title {
    display: inline-block;
}


header .badge {

    padding: 12px 24px;
    border-radius: 10px;
    background: #E6EEFF;
    width: fit-content;

    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */

    margin-bottom: 40px;
}
header {
    display: flex;
    padding: 100px 120px;
    flex-direction: column;
    gap: 10px;
}

header div{
    display: inline-block;
    color: #333;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 80px */
    letter-spacing: -1.28px;
}

header div em{
    background: linear-gradient(99deg, #001F8F 3.58%, rgba(36, 255, 203, 0.50) 90.34%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.imageContainer {
    padding: 10px 0 ;
    float : right;
}

.profileImg{
    /* border: 10px solid #BCF2F9; */
    align-self: center;
    border-radius: 100%;
    background-image: url('./img/profile.jpg');
    width:300px;
    height:300px;
    background-position: center 12%;
    background-size:110%;
    box-shadow: 12px 12px 12px rgba(50, 45, 45, 0.2);

}



.headerLinkContainer{
    display: flex;
    gap: 16px;
}

.headerLink{
    padding: 24px 40px;
    flex-direction: column;
    justify-content: center;
    display: block;
    align-items: center;

    border-radius: 16px;
    border: 4px solid #403930;

    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
    text-decoration-line: none;

}

.githubLink{
    background: #000;
    color: #E6EEFF;
}

.resumeLink{
    color: #000;
}

/* --- About Me---  */

.aboutMeContainer {
    background: linear-gradient(
      96deg,
      rgba(189, 210, 255, 0.4) 1.72%,
      rgba(116, 224, 215, 0.4) 158.93%
    );
  }
  .aboutMe {
    max-width: 960px;
    margin: 0 auto;
    padding: 120px 40px;
  }
  .aboutMe h2 {
    color: #000;
    font-size: 40px;
    /* white-space: pre-line; */
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 50px */
    letter-spacing: -0.8px;
  }
  
  .aboutMe p {
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    white-space: pre-line;
  }
  
  .flyingPerson {
    width: 120px;
    height: 120px;
    position: absolute;
    /* top: 0px; */
    bottom: 48px;
    /* right: 0px; */
    left: 200px;
  }
  
  .posRelative {
    position: relative;
  }

/* --- skill stack ---  */
.skillStackContainer{
    padding: 100px 120px;
}

.skillStack{
    text-align: center;
}

.skillStack h2{
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 26px; /* 65% */
    letter-spacing: -0.8px;
}

.skillStack p{
    color: #333;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px; /* 130% */
}


.stackImage{
    display: flex;
    justify-content:space-around;
    padding-top: 80px;
    
}

.stackImage img{
    height: 150px;
}

/* 내 프로젝트 */
.projectContainer {
    padding: 80px 120px 120px 120px;
    justify-content: center;
    /* flex-direction: column; */
    /* align-items: center; */
    background: rgba(244, 244, 244, 0.50);;
}

.project{
    background: #E6EEFF;
    display: flex;
    margin: 16px 0;
    /* align-items: center; */
    /* align-self: stretch; */
    border-radius: 20px;

}

.projectExContainer{
    width: 50%;
    /* background-color:yellow; */
    padding: 40px;
    align-self: center;
}

.projectTitle{
    color: #403930;
    font-size: 35px;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

.projectExplanation{
   
}

.projectLink{
    display: flex;
    margin-top: 30px;
}

.projectNotion{
    
    margin-right: 10px;
}

.projectImgContainer{
    
    width: 50%;
    align-self: center;
    text-align: center;
    padding: 20px;
    
}

.projectImgContainer img{
    height: auto;
    width: 23%;
    margin: 0 10px;
    border-radius: 16.08px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    
}

